.post-wrap
  position relative
  width 100%
  max-width 780px
  margin 0 auto
  padding-top 2rem

  .archive-item
    margin-left 2rem

.archive-item-link
    display inline-block
    text-decoration none
    overflow hidden
    text-overflow ellipsis
    white-space normal
    width 60%
    &:hover
      color $light-global-link-hover-color
      background-color transparent
    
    .dark-theme &
      color $dark-global-link-color
      text-decoration none
      transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

      &:hover
        color $dark-global-link-hover-color
        text-decoration none
        transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

  .archive-item-date
    float right
    text-align right
    color $light-font-secondary-color

    .dark-theme & 
      color $dark-font-secondary-color
