.post-copyright 
  margin-top 5rem
  border-top 1px solid $light-border-color
  border-bottom 1px solid $light-border-color
  a
    color: $light-post-link-color
    .dark-theme &
      color: $dark-post-link-color

    &:hover
      color: $dark-h1-color
      .dark-theme &
        color: $dark-h1-color

  .copyright-item 
    margin 5px 0

  .lincese 
    font-weight bold

  .dark-theme & 
    border-top 1px solid $dark-border-color
    border-bottom 1px solid $dark-border-color
  
