//// ========== TOC ========== //

$post-toc-width= 15rem

$padding-1= 1px
$padding-4= 0.25rem
$padding-6= 0.375rem
$padding-8= 0.5rem
$padding-10= 0.625rem
$padding-12= 0.75rem
$padding-14= 0.875rem
$padding-16= 1rem
$padding-20= 1.25rem
$padding-24= 1.5rem
$padding-32= 2rem

$font-size-base= 16px
$font-size-10= 0.625rem
$font-size-12= 0.75rem
$font-size-14= 0.875rem
$font-size-16= 1rem
$font-size-18= 1.125rem
$font-size-20= 1.25rem
$font-size-22= 1.375rem
$font-size-24= 1.5rem
$font-size-32= 2rem

// book-toc

.toc-head
  text-align: left
  font-size: 1.5em
.post-toc
  position fixed
  top 32px+63px // top value = (navbar>continer).height + (.post-wrap).padding-top
  right 2em
  width $post-toc-width
  font-size $font-size-12


  .tocbot-list 
    max-height 450px
    max-width 250px
    overflow auto
    position relative
    padding-right $padding-14
    &::-webkit-scrollbar
      width 6px
      height 6px
    &::-webkit-scrollbar-thumb
      width 6px
      background-color #eee
      border-radius 2px

    ul 
      list-style none
      position inherit
      overflow hidden

      li 
        margin-left $padding-4

  .toc-link::before 
    background-color white
  .is-active-link::before 
    background-color $light-post-link-color
  .tocbot-list-menu 
    margin $padding-16 $padding-12
    font-size $font-size-12
    a 
      display block
      margin $padding-6 0
      color #999
      cursor pointer
    a:hover 
      color $dark-h1-color
    
  

