// post structure
.post-wrap
  p
    font-size 1em
    margin 1em 0 1em 0
  .post-header h1
    margin 0 !important

  .post-title
    font-size 2em
    line-height 1.5em

  .post-meta
    color rgba(85, 85, 85, 0.52941) !important
    .dark-theme &
      color $dark-font-secondary-color !important

    a
      color $light-post-link-color
      .dark-theme &
        color $dark-post-link-color

      &:hover
        color $dark-h1-color
        .dark-theme &
          color $dark-h1-color
        
      
    
  