:root {
	--light-header: #fafafa;
	--dark-header: #252627;
	--logo-cursor: #fe5186;
	--font-bold: 'mulibold';
	--font-light: 'mulilight';
}

.navbar-right
{
	font-family: var(--font-light);
	font-size: 1.1rem;
	font-weight: bold;
}
.post-wrap {
	margin-top: 30px
}

.left-box {
	display: flex
}

.left-sw {
	padding-right: 15px
}

.navbar .container {
	margin: 0
}

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1d1f21;
	z-index: 999999
}

.alert {
	position: relative;
	text-align: left;
	padding: 10px 15px;
	min-height: 30px;
	margin: 1em 0 0;
	border: none;
	border-left: 3px solid;
	word-break: break-word
}

.alert p {
	margin: 1.5em 0 0
}

.alert p:first-child {
	margin: 0
}

.alert:not(.no-icon) {
	padding-left: 55px
}

.alert:not(.no-icon):before {
	position: absolute;
	top: 10px;
	left: 15px;
	font-family: 'FontAwesome';
	font-weight: 600;
	font-size: 2rem
}

.alert.info {
	border-color: #349ef3;
	background-color: #e6f3fe
}

.alert.info:not(.no-icon):before {
	content: "\f05a";
	color: #349ef3
}

.alert.success {
	border-color: #4dc657;
	background-color: #effaf0;
	content: "\f058"
}

.alert.success:not(.no-icon):before {
	content: "\f058";
	color: #4dc657
}

.alert.warning {
	border-color: #f5aa0a;
	background-color: #fdf1d8
}

.alert.warning:not(.no-icon):before {
	content: "\f071";
	color: #f5aa0a
}

.alert.danger {
	border-color: #f5311d;
	background-color: #feecea
}

.alert.danger:not(.no-icon):before {
	content: "\f05e";
	color: #f5311d
}

.logo {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	text-decoration: none;
	font-weight: 700
}

.logo__mark {
	display: inline-flex;
	align-items: center;
	margin-right: 5px;
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	text-decoration: none;
	font-weight: 700
}

.logo__text {
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	text-decoration: none;
	font-weight: 900;
	font-family: var(--font-bold);
}

.logo__cursor {
	display: inline-block;
	width: 10px;
	height: 1rem;
	background: var(--logo-cursor);
	margin-left: 5px;
	border-radius: 1px;
	animation: cursor 0.8s infinite;
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	text-decoration: none;
	font-weight: 700
}

@keyframes cursor {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.theme-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	cursor: pointer
}

.theme-toggler {
	fill: currentColor
}

.menu {
	position: absolute;
	right: 10px;
	box-shadow: var(--shadow);
	border-radius: 5px;
	z-index: 99
}

.menu-item {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	border: none
}

.active {
	right: 0
}

.menu.active {
	background: #454649
}

.wrapper2 {
	margin: 1em auto;
	box-sizing: border-box
}

label {
	display: block;
	margin-bottom: .5em;
	box-sizing: border-box
}

.switch {
	box-sizing: border-box;
	position: relative;
	z-index: 0;
	display: block;
	width: 3.3em;
	height: 2em;
	background-color: #BFE6F7;
	border-width: .15em;
	border-style: solid;
	border-color: #80C1D7;
	border-radius: 1em;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	cursor: pointer
}

.circle {
	box-sizing: border-box;
	position: absolute;
	z-index: 20;
	top: .15em;
	right: .15em;
	border-width: .15em;
	width: 1.43em;
	height: 1.43em;
	background-color: #F5ED28;
	border: .15em solid #E6C542;
	border-radius: .715em;
	overflow: hidden;
	transition: all 0.3s ease-in-out
}

.cloud {
	box-sizing: border-box;
	position: absolute;
	top: 1em;
	left: 1em;
	width: 1.43em;
	height: 1.43em;
	transition: all 0.3s ease-in-out;
	-webkit-animation: cloud 6s linear infinite;
	-moz-animation: cloud 6s linear infinite;
	-o-animation: cloud 6s linear infinite;
	animation: cloud 6s linear infinite
}

.cloud div,.cloud div:before,.cloud div:after {
	position: absolute;
	display: block;
	z-index: 40;
	width: 1.2em;
	height: .6em;
	background-color: #F5F6F8;
	border-radius: .3em;
	content: ""
}

.cloud div:before {
	bottom: .3em;
	left: .15em;
	width: .6em;
	height: .6em
}

.cloud div:after {
	bottom: .3em;
	left: .6em;
	width: .45em;
	height: .45em;
	border-radius: .225em
}

.cloud div + div {
	top: -.15em;
	left: -.15em
}

.cloud div + div,.cloud div + div:before,.cloud div + div:after {
	z-index: 30;
	width: 1.5em;
	height: .9em;
	background-color: #D2D4D3;
	border-radius: .45em
}

.cloud div + div:before {
	bottom: .3em;
	left: .15em;
	width: .9em;
	height: .9em
}

.cloud div + div:after {
	bottom: .3em;
	left: .6em;
	width: .75em;
	height: .75em;
	border-radius: .375em
}

lesshat-selector {
	-lh-property: 0
}

@-webkit-keyframes cloud {
	0% {
		left: -4em
	}

	100% {
		left: 6em
	}
}

@-moz-keyframes cloud {
	0% {
		left: -4em
	}

	100% {
		left: 6em
	}
}

@-o-keyframes cloud {
	0% {
		left: -4em
	}

	100% {
		left: 6em
	}
}

@keyframes cloud {
	0% {
		left: -4em
	}

	100% {
		left: 6em
	}
}

[not-existing] {
	zoom: 1
}

input[type="checkbox"] {
	box-sizing: border-box;
	display: none
}

input[type="checkbox"]:checked + .switch {
	background-color: #484848;
	border-color: #202020
}

input[type="checkbox"]:checked + .switch .circle {
	right: 1.42em;
	background-color: #FFFDF1;
	border-color: #E1E5C4
}

input[type="checkbox"]:checked + .switch .moon-spots {
	width: .1em;
	height: .1em
}

input[type="checkbox"]:checked + .switch .moon-spots,input[type="checkbox"]:checked + .switch .moon-spots:before,input[type="checkbox"]:checked + .switch .moon-spots:after {
	border-width: .15em
}

input[type="checkbox"]:checked + .switch .moon-spots:before {
	height: .15em;
	width: .15em;
	border-radius: .15em
}

input[type="checkbox"]:checked + .switch .moon-spots:after {
	height: .1em;
	width: .1em;
	border-radius: .2em
}

input[type="checkbox"]:checked + .switch .cloud {
	opacity: 0
}

input[type="checkbox"]:checked + .switch .stars {
	opacity: 1
}

.moon-spots {
	box-sizing: border-box;
	top: .10714286em;
	right: .10714286em;
	z-index: 10
}

.moon-spots,.moon-spots:before,.moon-spots:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	background-color: #EFEED9;
	border: 0 solid #E1E5C4;
	border-color: #E1E5C4;
	border-radius: 50%;
	content: "";
	transition: all 0.3s ease-in-out
}

.moon-spots:before {
	right: .63em
}

.moon-spots:after {
	right: .15em;
	bottom: -.9em
}

.stars {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	width: 1.42em;
	height: 1.7em;
	opacity: 0;
	transition: all 0.3s ease-in-out
}

.stars div {
	bottom: .3em;
	left: 0;
	width: .195em;
	height: .195em
}

.stars div,.stars div:before,.stars div:after {
	position: absolute;
	display: block;
	background-color: #FEFEFE;
	border-radius: 50%;
	content: ""
}

.stars div:before {
	bottom: 1.05em;
	left: .45em;
	width: .09375em;
	height: .09375em
}

.stars div:after {
	bottom: 1.5em;
	left: -.15em;
	width: .075em;
	height: .075em
}

.stars div + div {
	top: .7em;
	left: .97em;
	right: 0
}

.stars div + div:before {
	bottom: -.3em;
	left: -.6em
}

.stars div + div:after {
	bottom: -.6em;
	left: -.075em
}

#mobile-toggle-theme {
	width: 60px;
	font-weight: 700
}


.imglist {
	font-size: 0;
  }
  
  .imglist a {
	display: inline-block;
	margin: 10px 10px 0px 10px; 
  }
  
  .imglist a:last-of-type {
	margin-right: 0; 
  }
  
  .imglist a img {
	vertical-align: center;
	
  }
  
.img-center {
margin: auto;

}
  
.line-numbers .line-numbers-rows {
	font-size: 110%;
	}



.fafa-icons {
	font-size: 180%;
}	

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.35em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	}
	
	blockquote:before {
	display: block;
	padding-left: 20px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
	padding-right: 1em;
	}
	
	blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
	}
	 
	blockquote cite:before {
	content: "\2014 \2009";
	}
	