
#formcust {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 110%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    background: #2d96bd;
    color: #fff;
    width:110%;
  }


  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  &.error {
    background: #AD4747;
    color: #fff;
    &::placeholder {
      color: darken(#AD4747, 60%);
    }
  }
}
textarea {
  height: 10rem;
}



#formheader {

    text-align: center;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -5;
}


.figure
  &.clear
    clear: both
  &.center
    width: calc(100% - 4px)
    margin: 2px auto
    .fig-img
      margin: 2px auto
  &.left
    float: left
    margin: 2px
  &.right
    float: right
    margin: 2px
  .fig-video
    width: 100%
    height: auto
  &.fig-20
    .left
     width: calc(20% - 4px)
  &.fig-25
    .left
     width: calc(25% - 4px)
  &.fig-33
    .left
     width: calc(33.3% - 4px)
  &.fig-50
    .left
     width: calc(50% - 4px)
  &.fig-75
    .left
     width: calc(75% - 4px)
  &.fig-100
    width: calc(100% - 4px)
    margin: 2px
  &.figure--fullWidth
    width: 100%
    .figure-img
      margin: 0 auto

