.wrapper 
  display flex
  flex-direction column
  min-height 100vh
  width 100%
  
.navbar 
  height 4rem
  line-height 4rem
  width 100%
  .container 
    width auto
    max-width 1200px
    text-align center
    margin 0 auto
    display flex
    justify-content space-between
  

.main 
  flex-grow 1
  flex-shrink 0
  flex-basis auto

.container
  padding-left 1em
  padding-right 1em
  margin-top: 4em

.footer
  height 4rem
  width 100%
  text-align center
  line-height 4rem
  padding-top 2em
