<div class="container">
    <div class="intro">
        <div class="avatar">
            <a href="<%- url_for(theme.profile.link) %>"><img src="<%- url_for(theme.avatar) %>"></a>
        </div>
        <div class="nickname"><%- theme.nickname %></div>
        <div class="description"><%- markdown(theme.description) %></div>
        <div class="links">
            <% if (theme.links !== undefined) { %>
                <% for (var key in theme.links){ %>
                    <a class="link-item" title="<%- key %>" href="<%= theme.links[key] %>">
                        <% if(theme.links_text_enable) { %>
                            <%= key %>
                        <%}%>
                        <%if(theme.links_icon_enable){ %>
                            <!--<i class="iconfont icon-<%- key.toLowerCase() %>"></i>-->
                            <i class=" fafa-icons fab fa-<%- key.toLowerCase() %>"></i>
                            
                        <%}%>
                    </a>
                <% } %>
            <% } %>
        </div>
    </div>
</div>




    

 