<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | <a href="/rss.xml" target="blank">RSS Feed</a> | <a href="/policy" target="_blank">Disclaimer Policy</a> </span>
    </div>
</footer>
