<header>
    <div class="sticky-header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header header-logo left-box">
                <div class="left-sw">
                        <div class="wrapper2">
                                <label>
                                  <input type="checkbox" class="toggle--btn" id="toggle--daynight">
                                  <div class="switch">
                                    <div class="circle">
                                      <div class="moon-spots"></div>
                                    </div>
                                    <div class="cloud">
                                      <div></div>
                                      <div></div>
                                    </div>
                                    <div class="stars">
                                      <div></div>
                                      <div></div>
                                    </div>
                                  </div>
                                </label>
                              </div>
</div>
                    <a href="<%- config.root %>" class="logo" style="text-decoration: none;">
                            <!--<span class="logo__mark">
                              <svg  width=".95rem" height="100%" viewBox="0 0 44 44"><path stroke-width="3px" stroke="currentColor"  fill="none" d="M15 8l14.729 14.382L15 35.367"/></svg> 
                            </span>-->
                            <span class="logo__text">$ cd /home </span> 
                            <span class="logo__cursor"></span>
            
                    </a>
                
        </div>

            <div class="menu navbar-right">
                <% for (var i in theme.nav){ %>
                    <a class="menu-item" href="<%- url_for(theme.nav[i]) %>"><%= i %></a>
                <% } %>
                

            </div>

        </div>
    </nav>

    <%# mobile %>
    <nav class="navbar-mobile" id="nav-mobile">
        <div class="container">
            <div class="navbar-header">
                
                                  <a href="<%- config.root %>" class="logo" style="text-decoration: none;">
                                        <span class="logo__mark">
                                          <svg  width=".95rem" height="100%" viewBox="0 0 44 44"><path stroke-width="3px" stroke="currentColor"  fill="none" d="M15 8l14.729 14.382L15 35.367"/></svg> 
                                        </span>
                                        <span class="logo__text">$ cd /home </span> 
                                        <span class="logo__cursor"></span>
                        
                 </a><a id="mobile-toggle-theme">Light</a>


                <div class="menu-toggle" onclick="mobileBtn()">&#9776; Menu</div>
            </div>
            <nav class="menu" id="mobile-menu">
                <% for (var i in theme.nav){ %>
                    <!--<ul class="menu-item" href="<%- url_for(theme.nav[i]) %>"><%= i %></ul>-->
                    
                    <ul class="menu-item">
                            <li><a href="<%- url_for(theme.nav[i]) %>"><%= i %></a>
                            </li>

                    </ul>


                <% } %>
            </>
        </div>
    </nav>
</div>
</header>

<script>
    var mobileBtn = function f() {
        var toggleMenu = document.getElementsByClassName("menu-toggle")[0];
        var mobileMenu = document.getElementById("mobile-menu");
        if(toggleMenu.classList.contains("active")){
           toggleMenu.classList.remove("active")
            mobileMenu.classList.remove("active")
        }else{
            toggleMenu.classList.add("active")
            mobileMenu.classList.add("active")
        }
    }
</script>