<form  id="formcust" method="POST" data-netlify="true"  data-netlify-recaptcha="true">
    <p id="formheader">CONTACT</p>

<div>
        <input type="text" placeholder="Name" name="name" required id="formname">

        <input type="email" placeholder="Email" name="email" required id="formemail">
    
        <textarea placeholder="Message" name="message" required id="formmsg"></textarea>
        
        <input type="submit" value="Send">

        <div data-netlify-recaptcha="true"></div>

    </div>
       </p> 
      
      </form>
    
    
    
    
    
    