
<div>
    <br>
    <div><p style="font-size: 3em; text-align: center; line-height: normal">404 not found</p></div>
<div><img src="https://ishan-post-photos.s3.ap-south-1.amazonaws.com/404.gif" alt="404" crossorigin="anonymous" SameSite="Secure"></div>
<div><p class="404text" style="font-size: 3em; text-align: center; line-height: normal"> Nothing to see here.</p></div>
</div>