<form  id="formcust" method="POST" data-netlify="true"  data-netlify-recaptcha="true">
	<p id="formheader">CONTACT</p>
    
    <div><input type="text" placeholder="Name" name="name" required id="formname"></div>
    <div><input type="email" placeholder="Email" name="email" required id="formemail"></div>
    <div><textarea placeholder="Message" name="message" required id="formmsg"></textarea></div>
    <div><input type="submit" value="Send"></div>
    <div data-netlify-recaptcha="true"></div>
    

</form>
    
    
    
    
    
    